mixin item(title, description)
  div(class="item")
    h1(class="inner-title") #{title}
    p(class="inner-desc") #{description}
mixin item-red(title, description)
  div(class="item")
    h1(class="inner-title") #{title}
    p(class="inner-desc") #{description}    